<h1>Welcome#index</h1>
<h1>My Rails Girls Diary</h1>
    <div>
      <h2>Submitted a Rails Girls application</h2>
      <p>1.02.2014</p>
      <p>Just submitted an application to a Rails Girls workshop. Can’t wait to see whether I’ll get in!</p>
      <h2>Got in!</h2>
      <p>15.02.2014</p>
      <p>Received an email that my application got accepted! I’ll be at a RG workshop next week!</p>
      <h2>The first day starts…</h2>
      <p>22.02.2014</p>
      <p>Today is the first day of the Rails Girls workshop. My coach is quite strange but it seems we all have Rails installed now and can start learning.</p>
      <h2>Obiad</h2>
      <p> Obiad jest spóźniony, ale są przegryzki</p>
      <h2> Kolacja </h2>
      <p> Kolacja nie będzie spóźniona </p>
        </div>
    <div>
      <h1> Niedziela </h1>
      <p> Start o 09:00 </p>
    </div>
    <div>
      <h1>My favourite websites</h1>
      <ol> 
        <%@websites = [["http://railsgirls.com", "railsgirls"],
        ["https://en.wikibooks.org/wiki/Ruby_Programming", "Wiki"],
        ["http://guides.rubyonrails.org", "Guides" ]]%>
        
        <% for url, name in @websites %>
        <li><a href="<%= url %>"><%= name %></a></li>
      <% end %>
      </ol>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtSffYX07BJY8meLWtqbI1UZyHCzinMeHvmajx-8d1365K3cxxy0vVab0p" alt= piggy/>
